html {

    box-sizing: border-box;
    /* at 62.5%, 1rem=10px */
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #f9f8f5;
 }
 .header_container {
    display: flex;
    justify-content: left;
    align-items: center;

 }

 .space_between {
     justify-content: space-between;
 }

 .space_between button {
    cursor: pointer;
    margin-right: 1rem;

 }

 .saved_colours_result {
     font-size: 2rem;
 }
 .header_container img {
     padding-left: 1rem;
     padding-top: 1rem;
     height: 3rem;
     
 }

  header h1, 
  header h2 {
      padding-top: 1.5rem; 
      padding-left: 1rem;
  }
  
  header h2 {
      padding-bottom: 1.5rem;
      font-weight: 400;
  }

  header p {
    padding-left: 1rem;
    color: gray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
  }

   /*Removes header p-tag for desktop layout*/
@media (max-width: 750px) {
    header p,
    header hr {
      display: none;
    }
}

   /*Displays colours vertically desktop layout*/
   @media (min-width: 750px) {
    .colour_container {
        display: flex;
    }
}

.colour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF5F3;
    height: 200px;
    width: 100vw;
}
/*height of colour container desktop layout*/
@media (min-width: 750px) {
    .colour {
       height: 500px;
    }
}

.colour_1 {
    background-color: #E28413;
}

.colour_2 {
    background-color: #000022;
}

.hex_colour {
    font-weight: 700;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 5px;
    font-size: 1rem;
    margin-top: 1rem
}

button:hover {
    font-weight: 700;
}

.colour p {
    font-size: 1.7rem;
}

.generate  {
width: 100%;
position: fixed;
bottom: 0;
padding: 1rem;
background-color: #efeeeb;
cursor: pointer;
border: none;
border: 0.5px solid black;
}

.generate:hover {
    font-weight: 700;
}

 /*Removes generate button - Desktop layout*/
@media (min-width: 750px) {
    .generate {
      display: none;
    }
}