/* BASIC STYLING */
html {
    box-sizing: border-box;
    /* at 62.5%, 1rem=10px */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #f9f8f5;
}

/* BASIC STYLING END */

.flex_container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

header h1,
header h2,
header img {
    padding-left: 1rem;
    padding-top: 1rem;
}

header h1 {
   font-size: 2rem;
}

header h2 {
    padding-bottom: 1.5rem;
    font-weight: 400;
}

header img {
    height: 3rem;
}

header p {
    color: rgb(53, 50, 50);
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*Removes header p-tag from desktop layout*/
@media (max-width: 750px) {
    header p,
    header hr {
    display: none;
    }
}

/*Displays colours vertically desktop layout*/
@media (min-width: 750px) {
    .colours_container {
        display: flex;
    }
}

.colour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF5F3;
    height: 200px;
    width: 100vw;
}

/*height of colour container desktop layout*/
@media (min-width: 750px) {
    .colour {
        height: 500px;
    }
}

.hex_colour {
    font-weight: 700;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 5px;
    font-size: 1rem;
    margin-top: 1rem
}

button:hover {
    font-weight: 700;
}

.colour p {
    font-size: 1.7rem;
}

.generate {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #efeeeb;
    cursor: pointer;
    border: none;
    border: 0.5px solid black;
}

.generate:hover {
    font-weight: 700;
}

/*Removes generate button for Desktop layout*/
@media (min-width: 750px) {
    .generate {
        display: none;
    }
}